
@{
    ViewData["Title"] = "View";
}

<h2>Ваш e-mail не подтвержден.</h2>
 Прежде чем использовать функции сайта, необходимо подтвердить Ваш email <a href="https://@ViewData["_emailUrl"]">@ViewData["user_email"]</a>

